#################
## Space Battle
#################

content/config.xml

#################
## Eclipse
#################

/bin/*
.classpath
.metadata/*

#################
## Windows
#################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
