<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <properties>
        <property name="fullscreen">true</property>
        <property name="height">600</property>
        <property name="width">1024</property>
        <property name="language">cz</property>
    <property name="contentPath"/>
    </properties>
</configuration>
